* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code Medium', monospace;
    font-size: 14px;
    letter-spacing: 3px;
    --oppacity: 0.3;
    --main-txt-color: #E2E2E2;
    --background-color: linear-gradient(135deg, #36393b, #4d0514);
}

body {
    background: var(--background-color);
    background-size: 400% 400%;
    color: var(--main-txt-color);
    overflow-x: hidden;
    animation: background-animation 20s ease infinite;
}

.main {
    min-height: 84vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    place-content: center;
    margin: 0 20px 0;
}

h1 {
    font-size: clamp(2rem, 4vw, 4rem);
    margin: 20px 0;
}

h2 {
    font-size: 8rem;
}

h3 {
    font-size: 2.3rem;
}

.focus-in {
    animation: focus-in 1s cubic-bezier(.55, .085, .68, .53) both
}


@keyframes focus-in {
    0% {
        filter: blur(12px);
        opacity: 0
    }
    100% {
        filter: blur(0);
        opacity: 1
    }
}

@keyframes background-animation {
    0% {
        background-position: 0 2%
    }
    50% {
        background-position: 100% 99%
    }
    100% {
        background-position: 0 2%
    }
}