.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    position: relative;
}

.footer p {
    font-size: clamp(0.6rem, 1.2vw, 1.5rem);
}

.button-cv {
    position: absolute;
    right: 10px;
    align-items: center;
    background-color: #1A1A1A;
    border: 2px solid #36393b;
    border-radius: 15px;
    cursor: pointer;
    font-size: clamp(0.6rem, 1.2vw, 1.5rem);
    min-height: 60px;
    padding: 16px 24px;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.button-cv:hover {
    color: var(--main-txt-color);
    background-color: var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-cv a {
    color: var(--main-txt-color);
    text-decoration: none;
}

@media screen and (max-width: 1080px) {

    .button-cv {
        display: none;
    }

}