/* Position of the ul flex */
.presentation ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 100px 0;
    padding: 0;
}

/* Small margin between the 3 elements and removing the liste-style */
.presentation ul li {
    list-style: none;
    margin: 0 5px;
}

/* Attributes of the icons on the cards*/
.presentation ul li a .fa {
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: 0.5s;
    padding-right: 14px;
}

/* Attributes of the text on the cards*/
.presentation ul li a span {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 30px;
    color: #262626;
    letter-spacing: 4px;
}

.presentation ul li a {
    text-decoration: none;
    display: block;
    width: 190px;
    height: 80px;
    background: var(--main-txt-color);
    text-align: left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg) translate(0, 0);
    transition: 0.5s; /* Duration of the block moving upwards*/
    box-shadow: -20px 20px 10px rgba(0, 0, 0, .5);
}

/* Line on the left of each cards to make it 3D like*/
.presentation ul li a:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transform: rotate(0deg) skewY(-45deg);
}

/* Line on the bottom of each cards to make it 3D like*/
.presentation ul li a:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transform: rotate(0deg) skewX(-45deg);
}

.presentation ul li a:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, .5);
}

/* Making the icons the the text white when we hover the cards */
.presentation ul li:hover .fa {
    color: var(--main-txt-color);
}

.presentation ul li:hover span {
    color: var(--main-txt-color);
}

/* Colors of the GitHub icon */
.presentation ul li:hover:nth-child(1) a {
    background: #333;
}

.presentation ul li:hover:nth-child(1) a:before {
    background: #333;
}

.presentation ul li:hover:nth-child(1) a:after {
    background: #333;
}

/* Colors of the LinkedIn icon */
.presentation ul li:hover:nth-child(2) a {
    background: #0077B5;
}

.presentation ul li:hover:nth-child(2) a:before {
    background: #0077B5;
}

.presentation ul li:hover:nth-child(2) a:after {
    background: #0077B5;
}

/* Colors of the Mail icon */
.presentation ul li:hover:nth-child(3) a {
    background: #EA4335;
}

.presentation ul li:hover:nth-child(3) a:before {
    background: #BB001B;
}

.presentation ul li:hover:nth-child(3) a:after {
    background: #BB001B;
}

@media screen and (max-width: 1080px) {

    .presentation ul li a {
        width: 40px;
        height: 40px;
        padding: 0;
        text-align: center;
    }

    .presentation ul li a .fa {
        line-height: 42px;
        font-size: 18px;
        padding: 0;
    }

    .presentation ul li a span {
        display: none;
    }

    .presentation ul li a:before {
        top: 5px;
        left: -10px;
        width: 10px;
    }

    .presentation ul li a:after {
        bottom: -10px;
        left: -5px;
        height: 10px;

    }

}