* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code Medium', monospace;
    font-size: 14px;
    letter-spacing: 3px;
    --oppacity: 0.3;
    --main-txt-color: #E2E2E2;
    --background-color: #36393B;
}

body {
    background-color: var(--background-color);
    color: var(--main-txt-color);
    overflow-x: hidden;
}
