* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', monospace;
    font-size: 14px;
    --background-color: #AD343E;
    --main-txt-color: #E2E2E2;
    --navbar-background-color: #36393B;
}
